.block-bottom {
  display: flex;
  justify-content: flex-start;
}
@media screen and (min-width: 640px) {
  .block-bottom {
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 27px;
  }
}

.block-btn-two {
  position: relative;
}

.btn {
  font-size: 13px;
  line-height: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
}

.block-btn-adress_md {
  position: relative;
}
.block-btn-adress_md::after {
  content: "to";
  position: absolute;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
  top: 10px;
}
@media screen and (min-width: 640px) {
  .block-btn-adress_md::after {
    left: 65px;
  }
}
@media screen and (min-width: 1024px) {
  .block-btn-adress_md::after {
    left: 71px;
  }
}

.sign-in {
  background: #fff;
  color: black;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  transition: 0.3s;
}
.sign-in:hover {
  background: #262626;
  color: #fff;
  border: 1px solid #262626;
}

.block-btn {
  height: 40px;
  width: 72px;
}

.block-btn:nth-child(1) {
  margin-right: 12px;
}

.regist {
  background: #262626;
  color: white;
  border: 1px solid #262626;
  border-radius: 2px;
}

.btn-adress {
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 640px) {
  .btn-adress {
    justify-content: flex-start;
    margin-left: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .btn-adress {
    margin-left: 135px;
  }
}

.input-search {
  width: 100%;
  height: 24px;
  font-size: 13px;
  border: none;
  outline: none;
  margin-left: 20px;
}

.input-address {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1d;
  font-size: 13px;
  line-height: 24px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 1px;
  outline: none;
}

.input-address:focus ~ .input-label_address {
  display: none;
}

.input-search:focus ~ .input-label_search {
  display: none;
}

.input-label_search {
  position: absolute;
  top: 5px;
  left: 8px;
}
@media screen and (min-width: 1024px) {
  .input-label_search {
    left: 76px;
  }
}

.input-label_address {
  position: absolute;
  top: 34px;
  left: 7px;
}
@media screen and (min-width: 640px) {
  .input-label_address {
    top: 13px;
  }
}

.when {
  width: 60px;
  margin-right: 16px;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .when {
    width: 56px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .when {
    width: 65px;
  }
}

.to {
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
  width: 220px;
}
@media screen and (min-width: 640px) {
  .to {
    width: 215px;
  }
}
@media screen and (min-width: 1024px) {
  .to {
    width: 292px;
  }
}

.choose-language .btn-choose-language {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 13px;
  line-height: 100%;
  color: #fff;
}

img {
  width: 100%;
  max-height: 450px;
}

.footer-logo {
  position: relative;
}
.footer-logo img {
  width: 191px;
  height: 20px;
}

.block_language-social_icon {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 640px) {
  .block_language-social_icon {
    display: flex;
    flex-grow: 1;
  }
}

.icon-world {
  width: 15px;
  margin-right: 17px;
}

.icon-arrow {
  width: 15px;
  margin-left: 58px;
}

.social-icon {
  margin-bottom: 43px;
}

.group-icon .facebook {
  width: 20px;
  margin-right: 20px;
}
.group-icon .twiter {
  width: 18px;
  margin-right: 20px;
}
.group-icon .union {
  width: 17px;
}

.app_store {
  width: 107px;
}
@media screen and (min-width: 640px) {
  .app_store {
    width: 118px;
  }
}

.google {
  width: 124px;
}
@media screen and (min-width: 640px) {
  .google {
    width: 135px;
  }
}

body,
h1,
h3,
p,
.nav {
  margin: 0;
}

.nav {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.md-lg_size {
  display: none;
}
@media screen and (min-width: 640px) {
  .md-lg_size {
    display: block;
  }
}

.lg_size_visible {
  display: none;
}

.md_visible {
  display: none;
}

@media screen and (min-width: 640px) {
  .md_hidden {
    display: none;
  }

  .md_visible {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .lg_size_visible {
    display: block;
  }

  .lg_hidden {
    display: none;
  }
}
* {
  box-sizing: border-box;
}

.header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}
.header .img_header-logo {
  min-width: 111px;
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 0 76px;
  }
}

header > div {
  padding: 0 8px;
}

.header-logo_img {
  min-width: 111px;
}

.link-hover:hover {
  transform: scale(1.2);
}

.search {
  display: flex;
  align-items: center;
  padding: 0 8px;
  margin: 40px 0;
  position: relative;
}
.search::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 1px solid #757575;
  top: 33px;
  left: 8px;
  right: 8px;
}
@media screen and (min-width: 1024px) {
  .search::after {
    left: 76px;
    right: 76px;
  }
}
@media screen and (min-width: 1024px) {
  .search {
    padding: 0 76px;
  }
}

.text {
  margin-bottom: 8px;
  font-size: 11px;
  line-height: 15px;
  color: #626262;
}

main {
  padding: 40px 0 32px;
}
@media screen and (min-width: 1024px) {
  main {
    padding: 40px 76px 32px;
  }
}

@media screen and (min-width: 640px) {
  .catalog-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .catalog-product {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

main > * {
  padding: 0 8px;
}

.city-restaraunt {
  margin: 0 0 16px;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
}

.product {
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  padding-bottom: 36px;
}

.restaraunt-img:hover {
  transform: scale(1.03);
}

.name-restaraunt {
  margin-top: 10px;
}

.text-product-kithen {
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin: 4px 0;
}

footer {
  position: relative;
  padding: 40px 8px 24px;
  background: #1d1d1d;
}
@media screen and (min-width: 640px) {
  footer {
    padding: 56px 8px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-container {
    padding: 0 76px;
  }
}

.footer-logo {
  position: relative;
}
.footer-logo img {
  width: 191px;
  height: 20px;
}

.footer-content {
  position: relative;
}
@media screen and (min-width: 640px) {
  .footer-content {
    display: flex;
    align-items: baseline;
  }
}
.footer-content::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 1px solid #757575;
  width: 100%;
  top: 32px;
}
.footer-content::before {
  content: "";
  display: block;
  position: absolute;
  border-top: 1px solid #757575;
  width: 100%;
  bottom: -40px;
}
@media screen and (min-width: 640px) {
  .footer-content::before {
    bottom: -20px;
  }
}

.choose-language {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 40px;
  background: #3b3b3b;
  margin: 74px 0 32px;
}

.footer-text {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}
.footer-text span {
  color: #49a144;
}

.group-icon {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .footer-navigation {
    display: flex;
    flex-grow: 2;
  }
}

@media screen and (min-width: 640px) {
  .nav {
    flex-grow: 1;
  }
}

.list-item {
  margin-bottom: 23px;
}

.link-item {
  color: #fff;
}

.online-market {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.market:nth-child(1) {
  margin-right: 24px;
}
@media screen and (min-width: 640px) {
  .market:nth-child(1) {
    margin-right: 40px;
  }
}

.about-company {
  margin-top: 65px;
  position: relative;
}
@media screen and (min-width: 640px) {
  .about-company {
    margin-top: 81px;
  }
}
.about-company::before {
  content: "";
  display: block;
  position: absolute;
  border-top: 1px solid #757575;
  width: 100%;
  top: -40px;
}

.company-info .list-item {
  font-size: 12px;
  margin-bottom: 24px;
  flex-grow: 1;
}
@media screen and (min-width: 640px) {
  .company-info {
    display: flex;
  }
}

.position-block-scroll {
  position: fixed;
  bottom: 13%;
  right: 4%;
  width: 80px;
}
@media screen and (min-width: 640px) {
  .position-block-scroll {
    bottom: 12%;
    right: 1%;
  }
}
.position-block-scroll .scroll-up {
  position: fixed;
  display: block;
}
.position-block-scroll .scroll-up:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=main.css.map */
