a {
  &:hover {
    color: #49a144;
    transition-duration: 0.15s;
  }
}

.block-bottom {
  display: flex;
  justify-content: center;
  padding: 0 8px;
  @media screen and(min-width:640px) {
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.block-btn-two {
  position: relative;
}

.btn {
  font-size: 13px;
  line-height: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
}

.after_content {
  &::after {
    content: "to";
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    color: #626262;
    top: 10px;
    @media screen and(min-width:640px) {
      left: 65px;
    }

    @media screen and(min-width:1024px) {
      left: 73px;
    }
  }
}

.btn-sign_up {
  background: #fff;
  color: black;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  transition: 0.3s;
  &:hover {
    background: #262626;
    border: 1px solid #262626;
  }
}

.block-btn {
  height: 40px;
  width: 72px;
}

.block-btn:nth-child(1) {
  margin-right: 12px;
}

.btn-registration {
  background: #262626;
  color: white;
  border: 1px solid #262626;
  border-radius: 2px;
}

.btn-adress {
  justify-content: center;
  align-items: center;
  @media screen and(min-width:640px) {
    justify-content: flex-start;
    margin-left: 22px;
  }

  @media screen and(min-width:1024px) {
    margin-left: 135px;
    justify-content: flex-end;
  }
}

.block-btn-adress_md {
  display: flex;
  justify-content: center;
}

.input-search {
  width: 100%;
  height: 24px;
  font-size: 16px;
  border: none;
  outline: none;
  margin-left: 20px;
}

::placeholder {
  font-size: 16px;
  color: lightgray;
}

.input-address {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 24px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 1px;
  outline: none;
}

.input-label_search {
  position: absolute;
  top: 3px;
  left: 8px;
}

.input-label_address {
  position: absolute;
  top: 34px;
  left: 7px;

  @media screen and(min-width:640px) {
    top: 11px;
  }
}

.input-address:focus ~ {
  .input-label_address {
    display: none;
  }
}

.input-search:focus ~ {
  .input-label_search {
    display: none;
  }
}

.delivery_time {
  width: 60px;
  margin-right: 16px;
  text-align: center;

  @media screen and(min-width:640px) {
    width: 56px;
    margin-right: 32px;
  }

  @media screen and(min-width:1024px) {
    width: 65px;
  }
}

.delivery_address {
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
  width: 100%;

  @media screen and(min-width:640px) {
    width: 215px;
  }

  @media screen and(min-width:1024px) {
    width: 292px;
  }
}

.choose-language {
  .btn-choose-language {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 13px;
    line-height: 100%;
    color: #fff;
  }
}
