@mixin hover_product($_property, $_toValue) {
  transition-property: $_property, transform;
  transition-duration: 0.5s;

  &:hover {
    #{$_property}: $_toValue;
    transform: scale(1.04);
  }
}

@mixin hover_button {
  transition-property: border, border-radius;
  transition-duration: 0.2s;

  &:hover {
    border-radius: 50%;
    border: 2px solid mediumseagreen;
  }
}
